.photo-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 362px);
  grid-auto-rows: 362px;
  gap: 20px 17px;
  justify-content: center;
  margin: 0;
  padding: 0;
}