.profile {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .profile {
    grid-template-columns: 120px auto;
    grid-template-rows: 70px 50px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 282px;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 22px;
  }
}