.card__likes-counter {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}