.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  visibility: visible;
}

.profile__avatar:hover {
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  .profile__avatar {
    grid-row: 1/3;
  }
}